<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
            <key>Identifier</key>
            <string>FlowName</string>
            <key>Required</key>
            <true/>
            <key>Name</key>
            <string>Flow Name:</string>
            <key>Description</key>
            <string>The name of the flow, to create UseCase, Repository, DataSource and Service files.</string>
            <key>Type</key>
            <string>text</string>
            <key>Default</key>
            <string>Custom</string>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
